In [126]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error

import pickle

In [127]:
df=pd.read_csv('Life Expectancy Data.csv')

In [128]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [129]:
df.tail()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.0,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.0,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.0,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.0,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.0,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [130]:
df.shape

(2938, 22)

In [131]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

In [132]:
df.drop('country', axis=1, inplace=True)

In [133]:
df.describe()

,year,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [134]:
df.dtypes

year                                 int64
status                              object
life_expectancy                    float64
adult_mortality                    float64
infant_deaths                        int64
alcohol                            float64
percentage_expenditure             float64
hepatitis_b                        float64
measles                              int64
bmi                                float64
under-five_deaths                    int64
polio                              float64
total_expenditure                  float64
diphtheria                         float64
hiv/aids                           float64
gdp                                float64
population                         float64
thinness__1-19_years               float64
thinness_5-9_years                 float64
income_composition_of_resources    float64
schooling                          float64
dtype: object

In [135]:
x_ex = np.array(['Developing','Developed','Developing','Developed'])

In [136]:
for i in x_ex:
    if i == 'Developed':
        print(1)
    else:
        print(0)

0
1
0
1

In [137]:
df1=df

In [138]:
pd.get_dummies(df1)

,year,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,under-five_deaths,...,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling,status_Developed,status_Developing
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,False,True
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,False,True
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,False,True
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,False,True
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2004,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,...,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,False,True
2934,2003,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,...,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,False,True
2935,2002,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,...,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0,False,True
2936,2001,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,...,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,False,True
2937,2000,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,...,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8,False,True

In [139]:
df1.replace({
    'Developed':1,
    'Developing':0
},inplace=True)

C:\Users\AFSANA\AppData\Local\Temp\ipykernel_21156\537584766.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df1.replace({

In [140]:
df1.head()

,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,...,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,2015,0,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,2014,0,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2013,0,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,2012,0,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,2011,0,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [141]:
#count the number of missing values in each column
print(df1.isnull().sum())

year                                 0
status                               0
life_expectancy                     10
adult_mortality                     10
infant_deaths                        0
alcohol                            194
percentage_expenditure               0
hepatitis_b                        553
measles                              0
bmi                                 34
under-five_deaths                    0
polio                               19
total_expenditure                  226
diphtheria                          19
hiv/aids                             0
gdp                                448
population                         652
thinness__1-19_years                34
thinness_5-9_years                  34
income_composition_of_resources    167
schooling                          163
dtype: int64

In [142]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             2938 non-null   int64
 1   status                           2938 non-null   int64
 2   life_expectancy                  2928 non-null   float64
 3   adult_mortality                  2928 non-null   float64
 4   infant_deaths                    2938 non-null   int64
 5   alcohol                          2744 non-null   float64
 6   percentage_expenditure           2938 non-null   float64
 7   hepatitis_b                      2385 non-null   float64
 8   measles                          2938 non-null   int64
 9   bmi                              2904 non-null   float64
 10  under-five_deaths                2938 non-null   int64
 11  polio                            2919 non-null   float64
 12  total_expenditure                2712 non-null   float64
 13  diphtheria                       2919 non-null   float64
 14  hiv/aids                         2938 non-null   float64
 15  gdp                              2490 non-null   float64
 16  population                       2286 non-null   float64
 17  thinness__1-19_years             2904 non-null   float64
 18  thinness_5-9_years               2904 non-null   float64
 19  income_composition_of_resources  2771 non-null   float64
 20  schooling                        2775 non-null   float64
dtypes: float64(16), int64(5)
memory usage: 482.1 KB

In [143]:
def impute_missing_values(df):
    for column in df.columns:
        if df[column].isnull().sum() > 0 :
            if df[column].dtype=='object':
                df[column] = df[column].fillna(df[column].mode()[0])
            else:
                median = df[column].median()
                df[column] = df[column].fillna(median)
                col_range = df[column].max() - df[column].min()
                if col_range > 0:
                    df[column] = df[column].fillna(median)
                    num_missing = df[column].isnull().sum()
                    random_values = np.random.randint(df[column].min(), df[column].max(), size=num_missing)
                    df.loc[df[column].isnull(), column] = random_values
    return df

In [144]:
#list of numerical columns with missing values
num_cols = ['life_expectancy','adult_mortality','alcohol','hepatitis_b','bmi',
            'polio','total_expenditure','diphtheria','gdp','population','thinness__1-19_years',
            'thinness_5-9_years','income_composition_of_resources','schooling']


#loop over the numerical vcolumns and fill missing values with random imputation
for col in num_cols:
    if df[col].isnull().sum() > 0:
        median = df[col].median()
        impute_missing_values(df)

In [145]:
print(df.isnull().sum())

year                               0
status                             0
life_expectancy                    0
adult_mortality                    0
infant_deaths                      0
alcohol                            0
percentage_expenditure             0
hepatitis_b                        0
measles                            0
bmi                                0
under-five_deaths                  0
polio                              0
total_expenditure                  0
diphtheria                         0
hiv/aids                           0
gdp                                0
population                         0
thinness__1-19_years               0
thinness_5-9_years                 0
income_composition_of_resources    0
schooling                          0
dtype: int64

In [146]:
df.head()

,year,status,life_expectancy,adult_mortality,infant_deaths,alcohol,percentage_expenditure,hepatitis_b,measles,bmi,...,polio,total_expenditure,diphtheria,hiv/aids,gdp,population,thinness__1-19_years,thinness_5-9_years,income_composition_of_resources,schooling
0,2015,0,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,2014,0,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2013,0,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,2012,0,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,2011,0,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [147]:
#Create an instance of Variance Threshold with a threshold value
threshold = 0.01   #Adjusting the Thread as Needed
selector = VarianceThreshold(threshold)

#Fitting the selector to your data
selector.fit(df)

#Get the indices of the non-constant features
relevant_features = selector.get_support(indices=True)

#Selecting the relevant features from your dataset
df_relevant = df.iloc[:,relevant_features]

In [148]:
correlation_matrix = df_relevant.corr().abs()

#Creating a mask to ignore the upper triangle of the correlation matrix
mask = np.triu(np.ones_like(correlation_matrix, dtype=bool))

#Applying the mask to the correlation matrix
masked_correlation = correlation_matrix.mask(mask)

#Find highly correlated features with a correlation threshold
correlation_threshhold = 0.8   #Adjust the threshold as needed
highly_correlated_features = np.where(masked_correlation > correlation_threshhold)

#Printing the highly correlated feature pairs
for i, j in zip(highly_correlated_features[0], highly_correlated_features[1]):
    print(f"Features {df_relevant.columns[i]} and {df_relevant.columns[j]} are highly correlated.")

Features under-five_deaths and infant_deaths are highly correlated.
Features gdp and percentage_expenditure are highly correlated.
Features thinness_5-9_years and thinness__1-19_years are highly correlated.

In [ ]:
#Computing the correlation matrix
correlation_matrix = df_relevant.corr()

#Creating a heatmap using the correlation matrix
plt.figure(figsize=(10,8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm',fmt='.2f', linewidths=0.5)
plt.title("Correlation Matrix Heatmap")
plt.show()

In [ ]:
df=df.drop(['infant_deaths','percentage_expenditure','thinness_5-9_years'],axis=1)

In [ ]:
df.head()

In [ ]:
#Assuming your preprocessed dataset is stored in a Dataframe called "df"

#Separate the feature matrix (X)
X=df.drop(columns=['life_expectancy'])

#Extract the target variable (y)
y = df['life_expectancy']

In [ ]:
#Spliting the data in Training, Validating and testing sets
X_train, X_temp, y_train, y_temp = train_test_split(X,y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=0.5, random_state=42)

#Choosing a regression model (e. g , Linear Regression)
model = LinearRegression()

#Training the model on th taining set
model.fit(X_train, y_train)

#Predicting the target variable for the validation set
y_val_pred = model.predict(X_val)

#Evaluating the model performance on the validation set
mse_val =mean_squared_error(y_val, y_val_pred)
rmse_val = np.sqrt(mse_val)
r_squared_val = model.score(X_val, y_val)

#printing the evaluation metrics on the validation set
print('Validation Set:')
print('Mean Squared Error:',mse_val)
print('Root Mean Squared Error:', rmse_val)
print('R-Squared:',r_squared_val)


#predicting the target variable for the testing set
y_test_pred = model.predict(X_test)

#Evaluating the model performance on the testing set
mse_test = mean_squared_error(y_test, y_test_pred)
rmse_test = np.sqrt(mse_test)
r_squared_test = model.score(X_test, y_test)

#Printing the evaluation metrics on the testing set
print('Testing Set:')
print('Mean Squared Error:',mse_test)
print('Root Mean Squared EroorL:', rmse_test)
print('R-squared:', r_squared_test)

In [ ]:
print(model.intercept_)

In [ ]:
#combining the training and testing sets
X_trainval = np.concatenate((X_train, X_val),axis=0)
y_trainval = np.concatenate((y_train, y_val), axis = 0)

#Creating the normal linear regression model
final_model = LinearRegression()

#Training the final model on the combined training and validation sets
final_model.fit(X_trainval, y_trainval)

#Predicting the target variable for the test set
y_pred = final_model.predict(X_test)

#Calculating the residuals
residuals = y_test - y_pred

#plotting the residuals
plt.scatter(y_test, residuals, color='blue', label='Residuals')
plt.axhline(y=0, color='red', linestyle='--', linewidth=2, label='Zero Residuals')
plt.xlabel('Actual Values')
plt.ylabel('Residuals')
plt.legend()
plt.show()

In [ ]:
sns.distplot((y_test-y_pred),bins=50);

In [ ]:
coeff_df=pd.DataFrame(model.coef_,X.columns,columns=['Coefficient'])
coeff_df

In [ ]:
#Assuming we have already trained the model and have the 'model' object available

#saving the model
with open('model.pkl', 'wb') as file:
    pickle.dump(final_model, file)

In [ ]:
with open('model.pkl', 'rb') as file:
   loaded_model = pickle.load(file)

In [ ]:
#creating a new input data point 
new_data = np.array([[2015, 0, 263.0, 0.01, 65.0, 1154, 19.1, 83, 6.0, 8.16, 65.0, 0.1, 584.259210, 33736494.0, 17.2, 0.479, 10.1]])

#Making a Prediction
prediction =loaded_model.predict(new_data)
print(prediction)

In [ ]:
new_data=np.array([[2002, 1, 271.0, 0.01, 62.0, 492, 18.6, 0, 58.0, 8.18, 62.0, 0.1, 612.696514, 327582.0, 17.5, 0.476, 10.0]])

In [ ]:
prediction = loaded_model.predict(new_data)
print(prediction)